html,body{
    background-color: lightgray;
    margin: 0px;
    padding: 0px;
    border: 0px;
}   
nav{
    background-color:black;
    opacity: 70%;
    position:absolute; 
    width:100%;
    padding: 5px 0px;
}
.Naslov{
    float: left;
    display:inline;
    font-size:32px;
    font-weight:bold; 
    letter-spacing:2px; 
    padding-right: 10px;
    color: white;
    background: none;
}
.meni{
    float: center;
    text-align: center;
    max-width: 100%;
}
.menii{
    background: gray;
    border-radius: 2px;
    border: 2px solid lightgray;
}
.menii:hover {
    background: black;
    border-radius: 2px;
    border: 2px solid lightgray;   
}
li{
    display:inline;
    font-size:20px;
    letter-spacing:2px; 
    padding-right: 10px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    background: url(pozadinaa.jpg) ;
    background-size:100% 100%;
    padding:300px 100px;
    text-align:center;
}
.header2{
    background: url(maska.png);
     background-size:100% 100%;
    padding:100px 100px;
    text-align:center;
}
.header1{
    background:url(maska1.jpg);
    background-size:100% 100%;
    padding:100px 100px;
}
.header3{
    background-color: lightgray ;
    background-size: 100% 100%;
    padding: 100px 100px;
   
}
@media screen and( max-width: 600px){
    .header3{
        width: 100%;
    }
}
h1{
   color: white;
   font-size: 50px;
   font-weight: bold;
}
h2{
    text-align: center;
    color: white;
}
h2::first-letter{font-size:70px}
h3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.word-wrap{
    display:block; 
    margin-left:auto;   
    margin-right:auto;  
    padding:60px;
    width:60%;
    background-color:black;
    opacity: 70%;
    margin-bottom:50px; 
    
}
footer{
    background-color:black;
    opacity: 70%;
    position:absolute; 
    width:100%;
    padding: 5px 0px;
    letter-spacing: 2px;
}
.poz{
    text-align: center;
    color: white;
    font-weight: bold;
    font-style: italic;
}
.k1{
    color:white;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.k2{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}
@keyframes pokretanje{
    from{left:100px;}
    to{left: 0px;}
}
@-webkit-keyframes pokretanje{
    from{left: 100px}
    to{left:0px;}
}

.slika1{
    position: relative;
   animation: pokretanje 3s infinite;
   -webkit-animation:pokretanje 3s infinite;
    display: inline-block;
    width:186px;
    height:418px;
    padding: 20px 20px;
   
}
.slika2{
    position: relative;
    animation: pokretanje 3s infinite;
    -webkit-animation:pokretanje 3s infinite;
    display: inline-block;
    width:186px;
    height:418px;
    padding: 20px 20px;
}
.fensi{
    text-align: center;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    max-width: 80%;
}
.obicne{
    text-align: center;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    max-width: 80%;
}
.k3{
    color: black;
    font-size: 50px;
    font-style: italic;
}
input[type=text]{
    width:400px; 
    height:40px;
}
input[type=submit] {
  background-color:black;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
*[title~="ime"]{background:#EFE6F4;border:5px groove #DEC6EC}
*[title~="prezime"]{background:#EFE6F4;border:5px groove #DEC6EC}
*[title~="telefon"]{background:#EFE6F4;border:5px groove #DEC6EC}
*[title~="e-mail"]{background:#EFE6F4;border:5px groove #DEC6EC}
